.titleCarrito {
	font-size: 3rem;
	font-weight: bold;
	margin-bottom: 2rem;
}

.estadoCarrito {
	font-size: 2rem;
	font-weight: bold;
}

.instCarrito {
	font-size: 1rem;
	margin: 0.6rem;
}

.status img {
	width: 5rem;
	height: 5rem;
	filter: opacity(70%);
}

#busquedaCont {
	margin: 1rem;
}

.busqueda {
	background-color: var(--color-light);
	padding: 0.6rem;
	width: 30%;
	outline: none;
	border: none;
	font-size: 1rem;
	border-top-left-radius: 0.8rem;
	border-bottom-left-radius: 0.8rem;
}

.busqueda::placeholder {
	text-align: center;
	color: var(--color-dark);
    font-size: 1.2rem;
	font-weight: bold;
}

.busqueda:focus {
	outline: none;
	text-align: center;
	color: var(--color-dark);
    font-size: 1rem;
}

.busqueda:focus::placeholder {
	text-align: center;
	color: var(--color-dark);
    font-size: 1rem;	
}

.busqueda :focus::before {
	text-align: center;
	color: var(--color-dark);
    font-size: 1rem;
}

.busqueda:focus::after {
	text-align: center;
	color: var(--color-dark);
    font-size: 1rem;
}

.buscar {
	background-color: var(--color-light);
	color: var(--color-2);
	padding: 0.6rem;
	width: 5%;
	outline: none;
	border: none;
	font-size: 1rem;
	border-top-right-radius: 0.8rem;
	border-bottom-right-radius: 0.8rem;
	transition: transform .3s;
}

.buscar:hover {
	filter: brightness(1.1);
    transform: scale(1.09);
}