.titleCarrito {
	font-size: 3rem;
	font-weight: bold;
	margin-bottom: 2rem;
}

.estadoCarrito {
	font-size: 2rem;
	font-weight: bold;
}

.instCarrito {
	font-size: 1rem;
	margin: 0.6rem;
}

.status img {
	width: 5rem;
	height: 5rem;
	filter: opacity(70%);
}

#busquedaCont {
	margin: 1rem;
}

.busqueda {
	background-color: var(--color-light);
	padding: 0.6rem;
	width: 30%;
	outline: none;
	font-size: 1rem;
	border-top-left-radius: 0.6rem;
	border-bottom-left-radius: 0.6rem;
}