#loginCont {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: 0;
	margin: 0;
	padding: 0;
	width: 30rem;
	background-color: var(--color-1);
	position: fixed;
	height: 100%;
	overflow: auto;
}

#loginCont .loginBox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	background-color: var(--color-dark);
	width: 5rem;
	height: 10rem;
}

#loginCont h1 {
	display: flex;
	align-items: center;
	text-align: center;
	font-size: 1.6rem;
	color: var(--color-2);
}

#loginCont button {
	display: flex;
	justify-content: center;
	background-color: transparent;
	color: var(--color-2);
	font-size: 3rem;
	border: none;
	outline: none;  
	transition: transform 0.3s;
}

#loginCont button:hover {
	filter: brightness(1.1);
    transform: scale(1.09);
}