#loginCont {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	width: 30rem;
	background-color: var(--color-light);
	position: fixed;
	height: 100%;
	overflow: auto;
}

#loginCont .title {
	display: flex;
	justify-content: center;	
	margin-bottom: 3rem;
	font-size: 4rem;	
	font-weight: bold;
	color: var(--color-dark);
	text-shadow: 2rem;
}

#loginCont .loginBox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 4rem;
	background-color: var(--color-dark);
	border-radius: 0.6rem;
	width: 13rem;
	height: 12rem;
	box-shadow: -.1rem .1rem .6rem 0rem rgb(15, 15, 15);
}

#loginCont h1 {
	display: flex;
	align-items: center;
	text-align: center;
	font-size: 1.6rem;
	color: var(--color-2);
}

#loginCont button {
	display: flex;
	justify-content: center;
	background-color: transparent;
	color: var(--color-2);
	font-size: 3rem;
	border: none;
	outline: none;  
	transition: transform 0.3s;
}

#loginCont button:hover {
	filter: brightness(1.1);
	color: aquamarine;
    transform: scale(1.09);
}