#index-table {
	display: grid;
	justify-self: center;	
	align-self: center;
	grid-template-columns: repeat(7, 1fr);	
	margin: 1rem;
	padding: 0.1rem;
	font-size: 1.5rem;
	border-radius: 0.5rem;
	background-color: var(--color-light);
}

#prod-items {
	display: grid;
	justify-content: center;	
	align-items: center;
	grid-template-columns: repeat(7, 1fr);
	margin: 1rem;
	padding: 0.1rem;
	font-size: 1.5rem;
}
