.top-bar {
	top: 0;
	margin-bottom: 0.5rem;
	padding: 0.6rem;
	width: 100%;
	background-color: var(--color-light);
	overflow: auto;
	flex-wrap: nowrap;
	justify-content: space-between;
	gap: 1rem;
	font-size: 1.2rem;
	box-shadow: -.1rem .1rem .6rem 0rem rgb(15, 15, 15);
	transition: transform .3s;
}

.top-bar a {
	display: block;
	color: aliceblue;
	padding: .2rem;
	text-decoration: none;
  }
  
.top-bar a:active {
	color: white;
  }
  
 
.top-bar a:hover {
	filter: brightness(1.1);
    transform: scale(1.09);
}

.izqThing {
	display: flex;
	justify-self: flex-start;
	flex-direction: row;
	gap: 1rem;
	align-items: center;
}

.izqThing img {
	align-items: center;
	width: 2rem;
	height: 2rem;
}

.izqThing h2 {
	font-size: 1.4rem;
}

.top-bar-content {
	display: flex;
	gap: 1.4rem;
	justify-content: flex-end;
	
	align-items: center;
}

.bLogout{
    background-color: transparent;
    border: none;
    color: aliceblue;
    font-size: 1.2rem;
    border-radius: 0.7rem;
    outline: none;    	
}
