:root {
	--color-light: #00ADB5;
	--color-dark: #393E46;
	--color-1: #AAD8D3;
	--color-2: #EEEEEE;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: var(--color-dark);
	color: var(--color-2);
	font-family: 'Roboto', sans-serif;
	text-align: center;
}