#spinner {
	border: 0.4rem solid rgb(231, 231, 231);
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	border-left-color: #2962FF;
	animation: spin 1s linear infinite;
}	

@keyframes spin{
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}